<launch>
<!-- CAFE TABLE -->
  <!-- Spawn a robot into Gazebo -->
<!--   <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-file $(find fetch_simple_description)/models/cafe_table/model-1_4.sdf -sdf -x 1 -z -0.08 -model table" />
  <node name="spawn_cube" pkg="gazebo_ros"  type="spawn_model" args="-file $(find fetch_simple_description)/models/demo_cube/model.sdf -sdf -x 0.6 -y 0.1 -z 0.75 -model cube" /> -->
    <!-- Spawn a robot into Gazebo -->
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-file $(find fetch_simple_description)/models/table_big.urdf -urdf -x 1.19 -model table_big" />
  <node name="spawn_cube" pkg="gazebo_ros"  type="spawn_model" args="-file $(find fetch_simple_description)/models/cube.sdf -sdf -x 1 -model cube -x 0.684307 -y 0.103916 -z 0.886952" />


</launch>

